.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.jumbotron {
    margin-bottom: 0px;
}
.card .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card .card-img-top:hover {
    cursor: pointer;
}
.card-title {
    margin: 10px;
    color: rgb(226,0,26);
    font-weight: bold;

}
.album .card .card-body .card-text img {
    width: 50px;
    height: 50px;
}

.album .card .card-body .card-text img:hover {
    padding:0px;
    border-style: ridge;
    border-width: 2px;
    border-color: rgba(0,0,0,0.2)
}

/*******************************/
/*       Certification
/*******************************/

.port {
	padding: 5%;
}
.gallery-item {
	position: relative;
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5);
}
/* overlay */

.gallery-item img {
	width: 100%;
}
.gallery-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.gallery-item:hover .overlay {
	opacity: 1;
}
.gallery-item .overlay h3 {
	font-size: 24px;
	margin-bottom: 10px;
}
.gallery-item .overlay p {
	font-size: 16px;
	margin-bottom: 20px;
}
.gallery-item .overlay .btn {
	font-size: 16px;
}
.modal {
	background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 991px) {
	.gallery-item {
		margin-bottom: 30px;
	}
}
